.navbar-brand
{
	padding: 8px 15px;
}

/* ================================================================================	*/
/* BODY & OUTER LAYOUT																*/
/* ================================================================================	*/
html, 
body {
    width: 100%;
    height: 100%;
}
body.home {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (max-width:576px) {
body.home {
	background: url(../images/background-xs.jpg) no-repeat center center fixed;
}
}
body.admin {
	background: #f9f9f9;
}
.table-box {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.table-box .vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.table-box .vertical-center h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}
/* ================================================================================	*/
/* RIGHT SIDE MENU																*/
/* ================================================================================	*/
#menu-toggle,#menu-close {
    z-index: 10000;
    position: fixed;
	top: 0;
    right: 0;
	padding-top:    10px;
    padding-bottom: 10px;
	padding-right: 10px;
	text-decoration:none;
	font-size:22px;
}
#menu-toggle{
	color:#000000;
}
#menu-close {
	color:#fff;
}
#right-sidebar-wrapper 
{
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 300px;
    height: 100%;
    margin-right: -300px;
	overflow-y:auto;
	overflow-x:hidden;
    background: #f9f9f9;
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
#right-sidebar-wrapper.active {
    right: 300px;
    width: 300px;
}
.right-sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.right-sidebar-nav>li {

    text-indent: 5px;
    line-height: 50px;
	border-bottom:1px solid #f2f2f2;
}
.right-sidebar-nav>li>a {
    display: block;
    text-decoration: none;
    color: #000d14;
	font-size:1.2em;
	font-weight:600;
}
.right-sidebar-nav>li>a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,0.4);
	cursor:hand;
}
.right-sidebar-nav>li>a:active,
.right-sidebar-nav>li>a:focus
 {
    text-decoration: none;
}
.right-sidebar-nav>li>a>i
 {
	 padding-right:3px;
 }
/* ================================================================================	*/
/* SIGNIN IN & SIGNUP MODAL															*/
/* ================================================================================	*/
.modal{
	margin-top:60px;

}
.signin .modal-dialog,.signup .modal-dialog{
    width: 350px;
}
.signin .modal-footer,.signup .modal-footer{
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
	border-radius:6px;
}
.signin .modal-header,.signup .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
}

.signin .forgot {
	color: rgba(0, 0, 0, 0.3);
	margin-top: 5px;
	display:block;
	text-align:right;
	text-decoration:underline;
}
.signin .registernow,.signup .signinrnow{
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
/* ================================================================================	*/
/* HEADING STYLES																	*/
/* ================================================================================	*/
h1.caption-title{
	text-shadow:1px 1px 3px rgba(0,0,0,.7);
	text-transform:upper;
}
h4.caption-sub-title{
	text-shadow:1px 1px 1px rgba(0,0,0,.7);
	text-transform:lower;
}
/* ================================================================================	*/
/* SEARCH BOX																	*/
/* ================================================================================	*/
.searchbox{
	background:rgba(255, 255, 255, 0.5);
	border:none;
	border-radius:none;
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
/* ================================================================================	*/
/* INPUT STYLES 																	*/
/* ================================================================================	*/
.form-control{
	padding:0px;
	border:none;
	margin-bottom:15px;
	height: 45px;
}
.mulirange-control {
	padding: 0;
	text-align: center;
	position:relative;
	margin-bottom:30px;
}
.mulirange-control>span#start,.mulirange-control>span#end{
	position:absolute;
	font-size:16px;
	font-weight:700;
}
.mulirange-control>span#start{
	bottom:-20px;
	left:10px;
}
.mulirange-control>span#end{
	bottom:-20px;
	right:10px;
}
input[type="text"],input[type="password"],input[type="email"],select{
    border-radius: 3px;
	background-color:#fff;
    color: #000000;
    font-size: 16px;
    height: 46px !important;
    padding: 13px 12px;
    width: 100%;
	border: 1px solid #ccc;
}
select option
{
	font-size: 16px !important;
	font-weight:600;
	padding-top: 10px !important;
	outline:none;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,select:focus {
	border: 1px solid #ccc;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset !important;
    background-color: rgba(0,0,0,0.01);
    color: #000000;
	outline:none;
}
input[type="text"]:hover,input[type="password"]:hover,input[type="email"]:hover,select:hover {
	border: 1px solid #ccc;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    color: #000000;
}
/* MULTI RANGE INPUT */
@supports (--css: variables) {
input[type=range].multirange{
	-webkit-appearance: none;
	padding:0;
	margin: 0;
	display: inline-block;
	background-color:#FFF;
	border-radius:10px;
	border: 1px solid #ccc;
}
input[type=range].multirange:focus{
	outline: none;
}
input[type=range].multirange.original {
	position: absolute;
}
input[type=range].multirange.original::-webkit-slider-thumb {
	position: relative;
	z-index: 1;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	height: 21px;
	width: 19px;
	border-radius: 23px;
	background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range].multirange.ghost::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	height: 21px;
	width: 19px;
	border-radius: 23px;
	background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range].multirange.original::-moz-range-thumb {
	transform: scale(1); /* FF doesn't apply position it seems */
	z-index: 1;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	height: 21px;
	width: 19px;
	border-radius: 23px;
	background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range].multirange.ghost::-moz-range-thumb {
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	height: 21px;
	width: 19px;
	border-radius: 23px;
	background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range].multirange.ghost {
	position: relative;
	background: var(--track-background);
	--track-background: linear-gradient(to right,
	transparent var(--low), var(--range-color) 0,
	var(--range-color) var(--high), transparent 0
	) no-repeat 0 45% / 100% 40%;
	--range-color: hsl(0, 100%, 60%);
}
input[type=range].multirange.ghost::-webkit-slider-runnable-track {
	background: var(--track-background);
}
input[type=range].multirange.ghost::-moz-range-track {
	background: var(--track-background);
}
}
/* END---MULTI RANGE INPUT---END */
/* ================================================================================	*/
/* BUTTON STYLES 																	*/
/* ================================================================================	*/
a.btn-blue, button.btn-blue{
    background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius:0px;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 13px 50px;
    width: 100%;
	font-size:20px;
	font-weight:700;
	line-height:20px;
}
button.btn-blue:hover, a.btn-blue:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */

